<h1>Dashboard</h1>
<br>
<div>
  <% if @car_listings.any?  %>
    <h3>My Current Listings</h3>
    <ul>
      <% @car_listings.each do |car| %>
        <li>
          <%= link_to car.title, car_listing_path(car) %>
          - <%= number_to_currency(car.price) %>
          (<%= link_to "Edit", edit_car_listing_path(car) %>)
        </li>
      <% end %>
    </ul>
    <p><%= link_to "Create New Listing", new_car_listing_path, class: "btn btn-primary" %></p>
    <% else %>
      <p>You have not listed any vehicles. List one <%= link_to "now!", new_car_listing_path %></p>
  <% end %>
</div>
<br>
<p><%= link_to "All Listings", car_listings_path %></p>