<h1>All Current Listings</h1>

<%= search_form_for @q, url: classifieds_car_parts_path, method: :get do |f| %>
  <%= f.search_field :title_or_make_or_model_or_year_or_price_or_description_cont, placeholder: "Search parts..." %>

  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>

<ul>
  <% @part_listings.each do |part_listing| %>
    <li>
      <%= link_to part_listing.title, classifieds_car_part_path(part_listing) %>
      - <%= number_to_currency(part_listing.price) %>
    </li>
  <% end %>
</ul>

<br>
<br>

<div>
  Have a car part to sell? Post it <%= link_to "here!", new_classifieds_car_part_path, class: "btn btn-primary" %>
</div>

<!-- TODO: FIX THIS PAGE -->