<h1>List a Car Part</h1>

<%= form_with model: @classifieds_car_part, url: classifieds_car_parts_path, local: true do |form| %>
  <% if @classifieds_car_part.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@classifieds_car_part.errors.count, "error") %> prohibited this part from being saved:</h2>
      <ul>
        <% @classifieds_car_part.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, "Part Title" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :make, "Make" %>
    <%= form.text_field :make, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :model, "Model" %>
    <%= form.text_field :model, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :year, "Year" %>
    <%= form.number_field :year, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price, "Price (in USD)" %>
    <%= form.number_field :price, step: 0.01, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Part Description" %>
    <%= form.text_area :description, rows: 5, class: "form-control" %>
  </div>

  <br>

  <div class="form-group">
    <%= form.label :images, "Upload Part Photos" %>
    <%= form.file_field :images, multiple: true, class: "form-control" %>
  </div>

  <%= form.submit "Post Part", class: "btn btn-primary" %>

<% end %>

<%= link_to "Back to Part Listings", classifieds_car_parts_path, class: "btn btn-secondary" %>