<h1>Edit Vehicle Listing</h1>

<%= form_with model: @car_listing, local: true do |form| %>
  <% if @car_listing.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@car_listing.errors.count, "error") %> prohibited this listing from being saved:</h2>
      <ul>
        <% @car_listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :title, "Listing Title" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :make, "Make" %>
    <%= form.text_field :make, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :model, "Model" %>
    <%= form.text_field :model, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :year, "Year" %>
    <%= form.number_field :year, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :mileage, "Mileage" %>
    <%= form.number_field :mileage, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price, "Price (in USD)" %>
    <%= form.number_field :price, step: 0.01, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Vehicle Description" %>
    <%= form.text_area :description, rows: 5, class: "form-control" %>
  </div>

  <% if @car_listing.images.attached? %>
    <h3>Current Images:</h3>
    <div class="current-images">
      <% @car_listing.images.each do |image| %>
        <%= image_tag url_for(image), alt: "Current vehicle image", class: "img-fluid" %>
      <% end %>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :photos, "Upload New Photos" %>
    <%= form.file_field :images, multiple: true, class: "form-control" %>
  </div>

  <%= form.submit "Update Listing", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to Listings", classifieds_car_listings_path, class: "btn btn-secondary" %>
