<h1>All Current Listings</h1>

<%= search_form_for @q, url: classifieds_car_listings_path, method: :get do |f| %>
  <%= f.search_field :title_or_make_or_model_or_year_or_mileage_or_price_or_description_cont %>

  <%= f.submit %>
<% end %>

<ul>
  <% @car_listings.each do |car_listing| %>
    <li>
      <%= link_to car_listing.title, classifieds_car_listing_path(car_listing) %>
       - <%= number_to_currency(car_listing.price) %>
    </li>
  <% end %>
</ul>


<br>
<br>
<div>
  Have a classic car to sell? Post it <%= link_to "here!", new_classifieds_car_listing_path %>
</div>